#header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Saira", sans-serif;
}

.logo-head img {
  width: 120px;
}

.menu-head {
  font-size: 1.25rem;
  align-self: center;
}

.menu-head a:link {
  color: black;
  text-decoration: none;
}
.menu-head a:visited {
  color: black;
}
.menu-head a:hover {
  font-weight: bolder;
}

.menu-item {
  margin-left: 30px;
  margin-right: 30px;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: auto;
  padding-left: 60px;
}

h1 {
  font-family: "Martel", serif;
  font-size: 3.5rem;
}

.stephen {
  font-family: "StephenType";
  font-size: 7rem;
  font-weight: lighter;
}

h3 {
  font-family: "Saira", sans-serif;
  font-weight: normal;
  font-size: 2rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotating-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.site-icon {
  animation: spin 16s linear infinite;
  width: 80%;
}

.about {
  display: flex;
  gap: 85px;
  align-items: end;
  overflow: auto;
  white-space: nowrap;
  scrollbar-width: none;
  margin-top: 60px;
}

.first-slide {
  flex-basis: 650px;
  flex-shrink: 0;
  height: 470px;
  border-radius: 12.5%;
  position: relative;
  text-align: left;
  color: white;
}

.second-slide {
  flex-basis: 650px;
  flex-shrink: 0;
  height: 470px;
  border-radius: 12.5%;
  position: relative;
  text-align: left;
  color: white;
}

.bolu-stand {
  width: 100%;
  height: 100%;
  border-radius: 12.5%;
  object-fit: cover;
  filter: brightness(0.6);
}

.stand-text {
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.bolu-sit {
  width: 100%;
  height: 100%;
  border-radius: 12.5%;
  object-fit: cover;
  filter: brightness(0.6);
}

.sit-text {
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.bolden {
  font-weight: bold;
}


@media (max-width: 680px) {
  h3 {
    font-size: 1.5rem;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 0;
  }

  .about {
    flex-direction: column;
    overflow: hidden;
    gap: 40px;
    align-items: center;
  }

  .about img {
    border-radius: 6.25%;
  }
}
